@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-Light.woff2') format('woff2'),
        url('AncizarSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-RegularItalic.woff2') format('woff2'),
        url('AncizarSans-RegularItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-Extrabold.woff2') format('woff2'),
        url('AncizarSans-Extrabold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-ExtrablackItalic.woff2') format('woff2'),
        url('AncizarSans-ExtrablackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-BoldItalic.woff2') format('woff2'),
        url('AncizarSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-Bold.woff2') format('woff2'),
        url('AncizarSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}



