@font-face {
    font-family: 'Ancizar Sans';
    src: url('AncizarSans-Light.woff2') format('woff2'),
        url('AncizarSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

