@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


html,
body {
	@apply h-full;
}

#__next {
	@apply h-full;
}

.bg-portada{
  background: radial-gradient(55.03% 119.59% at 101.46% -1.89%, rgba(2, 235, 182, 0.32) 0%, rgba(161, 105, 250, 0.04) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
  background-blend-mode: lighten;
  mix-blend-mode: normal;
}
