@tailwind base;
@tailwind components;
@tailwind utilities;
@import './audio-player.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


html,
body {
	@apply h-full;
}

#__next {
	@apply h-full;
}

.color-capitulo1{
  background: linear-gradient(233.61deg, rgba(44, 42, 153, 0) 32.27%, rgba(74, 70, 255, 0.7) 91.55%);
}

.color-capitulo2{
  background: linear-gradient(230.79deg, rgba(22, 7, 38, 0) 26.49%, rgba(82, 24, 140, 0.7) 88.17%);
}

.color-capitulo3{
  background: linear-gradient(220.11deg, rgba(1, 133, 103, 0) 19.69%, rgba(2, 235, 182, 0.5) 92.67%);
}

.main-content p:not(:last-of-type){
  @apply mb-10;
}
