.timeline{
  scrollbar-width: thin;
  scrollbar-color: #02ebb6 #3c4058;
}

.timeline::-webkit-scrollbar {
  width: 20px;
}

.timeline::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 10px;
}

.timeline::-webkit-scrollbar-thumb {
    border-radius: 10px;
}


.timeline-section-0 .timeline-periods .timeline-period-container:nth-of-type(2){
  flex-basis: 50%;
}
.timeline-section-0 .timeline-periods .timeline-period-container:nth-of-type(5){
  padding-left: 10%;
}

.timeline-section-1 .timeline-periods, .timeline-section-2 .timeline-periods, .timeline-section-3 .timeline-periods, .timeline-section-4 .timeline-periods{
  justify-content: space-between;
  align-items: start;
}

.timeline-section-3 .timeline-periods{
  max-width: 900px;
  margin: 0 auto;
}

